@import "./bootstrap/bootstrap/_variables.scss";

$common-gap: 15px;

$common-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);

$link-color:#2a66cd;

.brand-color{
    color:$brand-primary;
}

b{
    font-weight: bold;
}

p{
    margin-bottom: $common-gap;
}

a{
    color: $text-color;
    &.theme-link{
        color:$link-color;
    }
}

/* Buttons */
.btn-default{
    @include gradient-vertical(#fff, $gray-light, 0, 100%);
    color:$gray-darker;
}

.btn-primary{
    @include gradient-vertical(#F3791F, #DA521F, 30%, 100%);
    color:#fff;
    i{
        color:#fff !important;
    }
}

.main-header{
    padding: $common-gap 0;
    .logo-container{
        display: flex;
        .logo{
            display: inline-block;
            margin: 0 $common-gap $common-gap 0;
        }
    }
    
    .header-slogan{
        display: none;
        font-size: $font-size-small;
        margin: 0 0 $common-gap 0;
    }
}


/* Body Content */

//Search
.search-section{
    
}

// Banner
.banner-section{
    margin-bottom: $common-gap;
    .carousel-indicators{
        li{
            background-color: #fff;
            &.active{
                background-color: $brand-primary;
            }
        }
    }
}

/* Category list */
.category-header{
    margin-bottom: $common-gap;
    background-color: #fff;
    padding: $common-gap $common-gap 0 $common-gap;
    font-size: $font-size-large;
    @include box-shadow($common-box-shadow);
    .category-title{
        padding-bottom: $common-gap;
    }
    .filter-container{
        padding-bottom: $common-gap;
    }
}

//Breadcrumb 
.breadcrumb-list{
    padding-bottom: $common-gap;
    li{
        display: inline-block;
        color:$gray-darker;
        margin-right: 5px;
        font-size: $font-size-small;
        a{
            color:$gray-darker;
            &:hover{
                color:$link-color;
            }
        }
        &:last-child{
            color:$text-color;
        }
    }
}

//Result list

$rl-image-size:65px;

.product-slider-container{
    margin-bottom: $common-gap;
    .ps-title,
    .ps-footer-link{
        padding: $common-gap;
        background-color: #fff;
        margin-bottom: 2px;
    }
    .ps-title{
        font-size: $font-size-large;
    }
    .product-slider-list{
        margin: 0 52px;
        li{
            position: relative;
            padding: $common-gap;
            background-color: #fff;
            margin-bottom:2px;
            text-align: center;
            margin-right: 2px;
            a{
                display: block;
            }
            img{
                height: $rl-image-size;
                width: $rl-image-size;
                display: inline-block;
                margin-bottom: $common-gap;
            }
            i{
                color:$gray-darker;
                align-self: center;
            }
            .sale-label{
                position: absolute;
                top: 10px;
                left:0;
                background-color: $brand-primary;
                color:#fff;
                font-weight: bold;
                padding: 8px;
            }
            .ps-item-desctiption{
                margin-left:$common-gap;
                .item-title{
                    margin-bottom: 10px;
                }
                .sale-info{
                    color:$brand-primary;
                    font-size: $font-size-small;
                }
                .item-price{
                    font-size: $font-size-large;
                    color:$text-color;
                    font-weight: bold;
                }
                .item-offers{
                    font-size: $font-size-small;
                    color:$gray-darker;
                }
            }
            &:hover{
                @include box-shadow($common-box-shadow);
                .item-title{
                    color:$link-color;
                }
            }
            &.sale-item{
                .ps-item-desctiption{
                    .item-price{
                        color:$brand-primary;
                    }
                }
            }
        }
    }
}

.result-list{
    li{
        position: relative;
        background-color: #fff;
        margin-bottom:2px;
        a{
            display: flex;
            padding: 20px $common-gap * 2;
            &:hover{
                color:$link-color;
                @include box-shadow($common-box-shadow);
            }
        }
        img{
            height: $rl-image-size;
            width: $rl-image-size;
        }
        i{
            color:$gray-darker;
            align-self: center;
            position: absolute;
            right: $common-gap;
        }
        .sale-label{
            position: absolute;
            top: 10px;
            left:0;
            background-color: $brand-primary;
            color:#fff;
            font-weight: bold;
            padding: 8px;
        }
        .rl-item-desctiption{
            margin-left:$common-gap;
            .item-title{
                margin-bottom: 10px;
            }
            .sale-info{
                color:$brand-primary;
                font-size: $font-size-small;
            }
            .item-price{
                font-size: $font-size-large;
                // color:$brand-primary;
                display: inline-block;
                font-weight: bold;
            }
            .item-offers{
                font-size: $font-size-small;
                color:$gray-darker;
            }
        }
        &.sale-item{
            .rl-item-desctiption{
                .item-price{
                    color:$brand-primary;
                }
            }
        }
    }
    &.grid-style{
        @include clearfix();
        li{
            width: calc(50% - 1px);
            float: left;
            margin:0 2px 2px 0;
            a{
                display: block;
                text-align: center;
                height: 210px;
                img{
                    margin-bottom: $common-gap;
                }
            }
            .rl-item-desctiption{
                margin:0;
            }
            .item-price{
                display: block;
            }
            &:nth-child(2n){
                margin-right:0;
            }
        }
        &.category-grid{
            li{
                padding-top:20px;
                a{
                    height: 185px;
                    img{
                        margin-bottom: 35px;
                    }
                }
                &:hover{
                    @include box-shadow($common-box-shadow);
                    .rl-item-desctiption{
                        .item-title{
                            color:$link-color;
                        }
                    }
                }
            }       
        }
    }
}

.result-pager{
    background-color: #fff;
    padding: $common-gap;
    margin-bottom:$common-gap;
    text-align: center;
    .pagination{
        margin:0 auto;
        li{
            a{
                border-radius: 50%;
                margin:0 5px;
                background-color: $gray-light;
                color:$gray-dark;
                font-size: $font-size-small;
                font-weight: bold;
            }
            &.active,
            &:hover{
                a{
                    background-color: $brand-primary;
                    color:#fff;
                }
            }
        }
    }
    .pager-info{
        margin-top: $common-gap;
        text-align: center;
        color:$gray-darker;
    }
}

.dropdown-filter-list{
    .dropdown-menu{
        margin-top: 5px;
        li{
            a{
                color: $gray-darker;
                padding: 0 $common-gap;
                height: 40px;
                line-height: 40px;
                vertical-align: middle;
            }
            &:hover{
                a{
                    background-color: #fefddb;
                }
            }
        }
    }
}

/* Product Details*/
.product-details-container{
    margin-bottom: $common-gap;
    .pd-header{
        background-color: #fff;
        padding: $common-gap;
        .pd-big-title{
            font-size: $font-size-large;
            margin-bottom: $common-gap;
            text-align: left;
        }
        .pd-item-desctiption{
            font-size: $font-size-small;
            .sale-info{
                font-size: $font-size-small;
                color:$brand-primary;
            }
            .item-old-price{
                color:$text-color;
                text-decoration: line-through;
            }
            .item-price{
                font-size: $font-size-large;
                font-weight: bold;
                color:$brand-primary;
                margin: 5px 0;
            }
            .item-offers{
                color:$gray-darker;
            }
        }
        .pd-offers-title{
            color:$brand-primary;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .pd-best-offers-list{
            li{
                margin-bottom: 2px;
                a{
                    display: block;
                    background-color: $gray-lighter;
                    padding: 5px 10px;
                    color:$text-color;
                    span{
                        display: inline-block;
                    }
                    .store-name{
                        min-width: 90px;
                    }
                    .store-price{
                        min-width: 70px;
                    }
                    .store-date{
                        color:$gray-darker;
                    }
                    &:hover{
                        color:$link-color;
                        .store-date{
                            color:$link-color;
                        }   
                    }
                }
                &:first-child{
                    a{
                        .store-name,
                        .store-price{
                            color:$brand-primary;
                        }
                    }
                    &:hover{
                        a{
                            .store-name,
                            .store-price{
                                color:$link-color;
                            }
                        }   
                    }
                }
            }
        }
    }
    .pd-image{
        text-align: center;
        margin-bottom: $common-gap;
        img{
            display: inline-block;
            margin:0 auto;
        }
    }
    .pd-title{
        padding:0 $common-gap;
        margin-bottom: $common-gap;
        text-align: center;
    }
    .store-list{
        background-color: #fff;
        border-bottom: $common-gap solid $gray-light;
        li{
            border-top:2px solid $gray-light;
            a{
                display: flex;
                justify-content:space-between;
                align-items:center;
                padding: $common-gap;
            }
            .dt-price-container{
                text-align: right;
                .sale-info{
                    font-size: $font-size-small;
                    .old-price{
                        text-decoration: line-through;
                    }
                }
                .dt-price{
                    font-size: $font-size-large;
                    font-weight: bold;
                }
            }
            
            i{
                color:$gray-darker;
            }
            &:first-child{
                .dt-price{
                    color:$brand-primary;
                }
            }
        }
    }
    .pd-info-container{
        padding: $common-gap;
        background-color: #fff;
        .pd-info-title{
            font-weight: bold;
            margin-bottom: $common-gap;
        }
    }
    table{
        width: 100%;
        background-color: $gray-lighter;
        margin-bottom: $common-gap;
        th{
            font-weight: bold;
            height: 40px;
            vertical-align: middle;
            padding-left: $common-gap;
        }
        tbody{
            tr{
                td{
                    height: 40px;
                    vertical-align: middle;
                    border-top:2px solid #fff;
                    padding-left: $common-gap;
                }
            }
        }
    }
    .pd-contact-list{
        li{
            margin-bottom: 5px;
        }
    }
}

.details-header{
    margin-top: $common-gap;
    background-color: $gray-lighter;
    font-size: $font-size-large;
    padding: $common-gap;
}



.category-block-container{
    margin-bottom: $common-gap;
    padding: $common-gap;
    background-color: #fff;
    .cb-title{
        margin-bottom: $common-gap;
        font-size: $font-size-large;
    }
    .cb-category-list{
        list-style: disc;
        padding-left: $common-gap + 5px;
        li{
            margin: 2px 0;
            position: relative;
            a{
                display: inline-block;
                padding-left:$common-gap;
                height: 30px;
                line-height: 30px;
                vertical-align: middle;                
                img{
                    position: absolute;
                    left: -20px;
                    top: 5px;
                }
                &:hover{
                    color:$link-color;
                }
            }
        }
        & + a{
            display: block;
            margin: $common-gap * 2 0 $common-gap 0;
        }
    }
    &.item-left{
        margin-right: - $common-gap / 2;
    }
    &.item-right{
        margin-left: - $common-gap / 2;
    }
}

.main-footer{
    margin-top: $common-gap;
    padding: $common-gap 0;
    .footer-title{
        font-weight: bold;
        margin-bottom: 10px;
    }
    p{
        color:$gray-darker;
    }
    a{
        font-weight: bold;
    }
    .footer-menu{
        margin:$common-gap 0;
        padding: $common-gap 0;
        border-top:2px solid $gray;
        border-bottom:2px solid $gray;
    }
    .footer-menu-list{
        margin-bottom:10px;
        li{
            border-right:2px solid $gray;
            a{
                font-size:$font-size-small;
                padding: 0 $common-gap / 2;
            }
            &:first-child{
                a{
                    padding-left: 0;
                }
            }
            &:last-child{
                border:0;
            }
        }
    }
}